<!DOCTYPE html>
<html ng-app='rocketApp'>
  <head>
    <script src='./angular/angular.js'></script>
    <script src='./App.js'></script>
  </head>
  <body ng-controller='rocketController as rocket' ng-init='getAllRockets()'>
    <div>Trying to get off-planet? Use this calculator to estimate the amount of fuel you'll need!</div>
      <form>
        <h4>
          Name of Rocket:<input type='string' ng-model='rocket.name'>
        </h4>
        <h4>
          Full Mass:<input type='number' ng-model='rocket.fullMass'>
        </h4>
        <h4>
          Dry Mass:<input type='number' ng-model='rocket.dryMass'>
        </h4>
        <h4>
          Specific Impulse:<input type='number' ng-model='rocket.engineISP'>
        </h4>
        <h4>
          <button class='btn' ng-click='calculate()'>Calculate Delta-V</button>
        </h4>
      </form>
    <div>
      Your rocket can execute propulsion maneuvers roughly equal to {{ rocket.deltav }}km/s.
    </div>
    <ul>
      <li ng-repeat='Rockets in myRockets'>Model: {{ Rockets.model }}: Engine ISP({{ Rockets.engineisp }}) * 9.8 * ln (Full Mass({{ Rockets.fullmass }}) - Dry Mass: ({{ Rockets.drymass }})) = <strong>{{ Rockets.deltav }}km/s of Delta-V</strong></li>
    </ul>
  </body>
</html>