<!DOCTYPE html>
<html ng-app='rocketApp'>
  <head>
    <script src='./angular/angular.js'></script>
    <script src='./App.js'></script>
  </head>
  <body>
    <div >Hello World!</div>
      <form ng-controller='rocketController as rocket' ng-submit='calculate()'>
        <input type='string' value='Enter your rockets full mass here' ng-model='rocket.fullMass'>
        <input type='string' value='Enter your rockets empty mass here' ng-model='rocket.emptyMass'>
        <input type='string' value='Enter your rockets engine ISP here' ng-model='rocket.engineISP'>
      </form>
    <div>
    </div>
  </body>
</html>